.cast {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;

    > h2 {
      font-size: var(--fs-lg);
      color: var(--white);
      margin-bottom: 10px;
    }

    > .castList {
      padding-top: 30px;
      display: flex;
      flex-direction: row;
      gap: 15px;

      > .castItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--secondary-dark);

        > img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 8px;
          background-color: var(--secondary-dark);
        }

        > p {
          font-size: 12px;
          text-align: center;
          max-width: 100px;
          overflow: hidden;
        }
      }
    }
  }